.DS_Store
*.bbl
*.blg
*.run.xml
*-cache.yaml
*.synctex.gz
*.toc
*.amc
*.xdv
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
_minted-probability_hse_exams/
materials/2018_2019/ha_dvfu/received/

tests/2018_2019/midterm/scans/



